@using NewIdentity.Resources
@model NewIdentity.ViewModels.CountryVM

<h1>@Resource.Edit_Country</h1>

<form asp-action="@Resource.Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label">@Resource.Country_Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">@Resource.Save_Changes</button>
    <a class="btn btn-secondary" asp-action="Index">@Resource.Cancel</a>
</form>
